{% extends "main/base.html" %}

{% block title %}CARP{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<h1 class="text-center">CARP Calculator</h1>
<br>
<div class="container-fluid col-lg-6">
    <form id="CarpForm" method="post" action="#">
        {% csrf_token %}

        {{ form|crispy }}

        <p class="text-center" style="font-weight: 300; font-size: 12px; color: #FBFBFB;">
            <em>OBS: Os valores padrão correspondem aos dados do T-10 AC/RAC.</em>
        </p>
        <br>
        <div class="d-grid gap-2 col-4 mx-auto">
          <button class="btn btn-warning" type="submit">Enviar</button>
        </div>
    </form>
</div>
<br>
<br>


{% endblock %}