{% extends 'main/base.html' %}

{% block content %}
<br>
<h1 class="text-center">Home Page</h1>
<br>
<div id="cardsContainer" class="container-fluid d-flex justify-content-center position-relative">
<div class="card text-center position-absolute top-0 start-50 translate-middle rounded" style="width: 18rem; margin-top: 5vh;">
  <div class="card-body">
    <h5 class="card-title">Planejamento de Voo</h5>
    <p class="card-text" style="color: #121619;">Planeje missões, acesse informações de abastecimento, NOTAM e Meteorologia.</p>
    <a href="/planner" class="btn btn-warning">Acessar</a>
  </div>
</div>
</div>
</div>

{% endblock %}