{% extends "main/base.html" %}

{% block title %}Planejamento de Voo{% endblock %}

{% load crispy_forms_tags %}

{% block style %}
{{ block.super }}
    .table-wrapper {
        max-height: 34vh;
        overflow: auto;
        display:inline-block;
    }
{% endblock %}

{% block content %}
<br>
<h1 class="text-center">Planejamento de Voo</h1>
<br>
<div class="container-fluid col-lg-6">
<form id="masterForm" method="post" action="#">
    {% csrf_token %}
    <div class="row g-3">
      <div class="col">
          <label for="project" class="form-label">Projeto</label>
          <select id="project" class="form-select" aria-label="Projeto" name="project">
              {% for project in projects %}
                <option>{{ project }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="col">
        <label for="PesoTrip" class="form-label">Peso Trip</label>
        <input id="PesoTrip" type="text" class="form-control" aria-label="Peso Trip" value="300" name="trip_weight">
      </div>
      <div class="col">
        <label for="TakeoffTime" class="form-label">Horário DEP</label>
        <input id="TakeoffTime" type="time" class="form-control" required
               aria-label="Horário de DEP" value="12:00" name="takeoff_time">
      </div>
    </div>

    <br>
    <h3 class="text-center">Rota</h3>
    <p class="text-center" style="font-weight: 300; font-size: 12px; color: #FBFBFB; padding-bottom: 10px;">
        <em>OBS: Devido às limitações do servidor, recomenda-se um limite de 5 pernas por planejamento.</em>
    </p>
    <div class="table-wrapper container-fluid">
    <table id="RouteTable" class="table table-dark table-striped align-middle">
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col">DEP</th>
                <th scope="col">ARR</th>
                <th scope="col">ALTN
<!--                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 18">-->
<!--                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>-->
<!--                      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>-->
<!--                    </svg>-->
                </th>
            </tr>
        </thead>
        <tbody>
            {% for i in rows %}
            <tr>
                <th scope="row" class="text-center">{{ i|add:"1" }}</th>
                <td>
                    <input id="dep_{{ i }}" name="dep_{{ i }}" type="text" class="form-control"
                           maxlength="4" oninput="this.value = this.value.toUpperCase()">
                </td>
                <td>
                    <input id="arr_{{ i }}" name="arr_{{ i }}" type="text" class="form-control"
                           maxlength="4" oninput="this.value = this.value.toUpperCase()">
                </td>
                <td>
                    <input id="alt_{{ i }}" name="alt_{{ i }}" type="text" class="form-control"
                           maxlength="4" oninput="this.value = this.value.toUpperCase()">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <br>

    <div class="d-grid col-1 mx-auto">
      <button id="addRow" class="btn btn-light btn-sm" style="border-radius: 12px;" type="button">
          +
      </button>
    </div>
    <br>
        <div class="d-grid col-8 mx-auto" id="updates">

                <span class="badge text-bg-info text-center">NOVO</span>
                <span><p class="text-center" style="font-size: 12px; margin-top: 4px;">Agora você pode deixar o campo <strong>ALTN</strong> em branco para que seja selecionado o aeroporto mais próximo que possui abastecimento.</p></span>

    </div>
    <div class="d-grid col-4 mx-auto" id="checkboxes" style="padding-bottom: 15px;">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="NotamCheckbox" name="NotamCheckbox">
      <label class="form-check-label" for="NotamCheckbox">NOTAM</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="MetarCheckbox" name="MetarCheckbox">
      <label class="form-check-label" for="MetarCheckbox">METAR / TAF</label>
    </div>
    </div>
    <div class="d-grid gap-2 col-4 mx-auto">
      <button class="btn btn-warning" type="submit">Enviar</button>
    </div>
</form>
</div>
{% load static %}<script src="{% static 'mission_planner/scripts/append_row_to_flight_route.js' %}"></script>

{% endblock %}